@using BlogFinalTask.Web.CustomExceptions
@inject IRepositoryCollection repo
@inject CascadingAuthenticationState authState


<h3>Create New Article</h3>
<div class="col-md-6 col-lg-4 p-3">
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Placeholder</RadzenText>
        @* <RadzenTextBox Placeholder="Search..." Change=@(args => OnChange(args, "TextBox with placeholder")) class="w-100" /> *@
    </RadzenCard>
</div>
@code {

}
